/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --white-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .838rem;
  }
}

@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {

  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
}

input {
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-inline: 1.5rem;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.search,
.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 32%, 1.);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  /* for safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search-close,
.login-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav-actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav-search,
.nav-login,
.nav-toggle,
.nav-close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav-logo, .nav-search, .nav-login, .nav-toggle, .nav-link):hover {
  color: var(--first-color);
}


/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav-link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav-close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search-form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search-input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search-input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search-form {
  transform: translate(0)
}

/*=============== LOGIN ===============*/
.login-form,
.login-group {
  display: grid;
}

.login-form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login-group {
  row-gap: 1rem;
}

.login-label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login-input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login-input::placeholder {
  color: var(--text-color);
}

.login-signup a {
  color: var(--first-color);
}

.login-forgot {
  display: inline;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login-button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1.5rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login-button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login-form {
  transform: translateY(0);
}

/*=============== HOME ===============*/
.home-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home-container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home-data-subtitle,
.home-data-title,
.home-social-link,
.home-info {
  color: var(--first-color);
}

.home-data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home-data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.home-social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.home-social-link {
  font-size: 1.4rem;
  width: max-content;
  color: var(--white-color);
}

.home-info {
  background-color: var(--first-color);
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 278px;
}

.home-info-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
  color: var(--white-color);
}

.home-info-button {
  font-size: var(--smaller-font-size);
  color: var(--white-color);
}

.home-info-overlay {
  overflow: var(--img-hidden);
}

.home-info-img {
  width: 145px;
  transition: var(--img-transition);
}

.home-info-img:hover {
  transform: var(--img-scale);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background: var(--first-color);
}

.button-flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button-link {
  background: none;
  padding: 0;
}

.button-link:hover {
  background: none;
}

/*=============== ABOUT ===============*/
.about-data {
  text-align: center;
}

.about-container {
  row-gap: 2.5rem;
}

.about-description {
  margin-bottom: var(--mb-2);
}

.about-img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about-img-overlay {
  overlay: var(--img-hidden);
}

.about-img-one,
.about-img-two {
  width: 200px;
  transition: var(--img-transition);
}

.about-img-one:hover,
.about-img-two:hover {
  transform: var(--img-scale);
}

/*=============== SERVICES ===============*/

.services-card {
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
}

.services-data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.services-title,
.services-description {
  color: var(--white-color);
}

.services-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.services-description {
  display: block;
  font-size: var(--smaller-font-size);
}

.services-img {
  transition: var(--img-transition);
}

.services-img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.services-info-container {
  row-gap: 2.5rem;
}

.services-info-data {
  text-align: center;
}

.button-services-info {
  text-align: center;
  align-items: center;
}

/*=============== FEATURES ===============*/
.features-container {
  row-gap: 2.5rem;
  justify-content: center;
  justify-items: center;
}

.features-content {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-items: center;
  padding: 0 2rem;
}

.features-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-5);
}

.features-description {
  font-size: var(--small-font-size);
}

.features-img {
  position: relative;
  padding-bottom: 2rem;
}

.features-overlay:nth-child(1) {
  width: 283px;
  margin-right: 2rem;
}

.features-overlay:nth-child(2) {
  width: 220px;
  position: absolute;
  top: 2rem;
  right: 0;
}

.features-img-one,
.features-img-two {
  transition: var(--img-transition);
}

.features-img-one:hover,
.features-img-two:hover {
  transform: var(--img-scale);
}

.features-overlay {
  overflow: var(--img-hidden);
}

/*=============== HAIRS ===============*/
.hair-card,
.hair-img {
  height: 350px;
}

.hair-container {
  grid-template-columns: repeat(1, max-content);
  justify-content: center;
}

.hair-card {
  position: relative;
  overflow: var(--img-hidden);
}

.hair-content,
.hair-title {
  color: var(--white-color);
}

.hair-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem .75rem .1rem;
}

.hair-rating {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.hair-rating-icon {
  font-size: .75rem;
  margin-right: var(--mb-0-25);
}

.hair-rating-number {
  font-size: var(--small-font-size);
}

.hair-subtitle,
.hair-price {
  display: block;
  margin-bottom: var(--mb-0-5);
}

.hair-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.hair-subtitle {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-1-25);
}

.hair-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .75rem 1rem;
}

.hair-img {
  transition: var(--img-transition);
}

.hair-card:hover .hair-img {
  transform: var(--img-scale);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {

  .search,
  .login {
    padding-top: 10rem;
  }

  .search-form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search-close,
  .login-close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login-form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }

  .nav-close,
  .nav-toggle {
    display: none;
  }

  .nav-menu {
    margin-left: auto;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login-form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav-container,
  .nav-logo {
    font-size: var(--h2-font-size);
  }

  .nav-container,
  .nav-menu,
  .nav-list,
  .nav-item,
  .nav-link {
    font-size: var(--h3-font-size);
  }

  .nav-container,
  .nav-actions {
    font-size: var(--h3-font-size);
  }
}

@media screen and (min-width: 1366px) {
  .login-form {
    padding: 1rem 1.5rem 2rem;
  }

  .search-form {
    max-width: 650px;
  }

  .hair-container {
    grid-template-columns: repeat(3, max-content);
  }

  .hair-card,
  .hair-img {
    height: 350px;
    width: 450px;
  }

  .features-overlay:nth-child(1) {
    width: 480px;
  }

  .features-overlay:nth-child(2) {
    width: 380px;
  }

  .services-card,
  .services-img {
    width: 350px;
  }

  .about-img-one,
  .about-img-two {
    width: 400px;
  }

  .about-img {
    column-gap: 3rem;
  }
}